<main class="cs-page-wrapper">
  <!-- Breadcrumb -->
  <nav class="bg-secondary mb-3" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb breadcrumb-alt mb-0">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']"><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Mis Direcciones
        </li>
      </ol>
    </div>
  </nav>

  <!-- Page container -->
  <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
    <div class="row pb-2 pb-lg-0">
      <!-- Account menu (sticky sidebar) -->
      <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
        <app-sidebar></app-sidebar>
      </aside>

      <!-- Content -->
      <div class="col-lg-8 ml-auto">
        <div
          class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-sm-3"
        >
          <h1 class="h2 mb-0">Nueva direccion</h1>
        </div>

        <form class="mb-5" [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="row pb-3">
            <div class="col-sm-6 form-group">
              <label for="ac-fn">Nombres</label>
              <input
                type="text"
                id="ac-fn"
                class="form-control form-control-lg"
                name="destinatario"
                formControlName="destinatario"
              />
            </div>

            <div class="col-sm-6 form-group">
              <label for="ac-ln">DNI</label>
              <input
                type="text"
                id="ac-ln"
                class="form-control form-control-lg"
                name="dni"
                formControlName="dni"
              />
            </div>

            <div class="col-sm-6 form-group">
              <label for="ac-ln">ZIP</label>
              <input
                type="text"
                id="ac-ln"
                class="form-control form-control-lg"
                name="zip"
                formControlName="zip"
              />
            </div>

            <div class="col-sm-6 form-group">
              <label for="ac-ln">Telefono</label>
              <input
                type="text"
                id="ac-ln"
                class="form-control form-control-lg"
                name="telefono"
                formControlName="telefono"
              />
            </div>

            <div class="col-sm-12 form-group">
              <label for="ac-ln">Direccion</label>
              <textarea
                name="direccion"
                formControlName="direccion"
                rows="3"
                id="ac-ln"
                class="form-control form-control-lg"
              ></textarea>
            </div>

            <div class="col-sm-6 form-group">
              <label for="ac-city">Pais</label>
              <select
                id="ac-city"
                class="custom-select custom-select-lg"
                (change)="changeCountry($event)"
                formControlName="pais"
                required
              >
                <option value="null" disabled selected>Choose pais</option>
                <option value="Argentina">Argentina</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Brasil">Brasil</option>
                <option value="Chile">Chile</option>
                <option value="Colombia">Colombia</option>
                <option value="Costa Rica">Costa Rica</option>
                <option value="Cuba">Cuba</option>
                <option value="Ecuador">Ecuador</option>
                <option value="El Salvador">El Salvador</option>
                <option value="España">España</option>
                <option value="Estados Unidos">Estados Unidos</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Haití">Haití</option>
                <option value="Honduras">Honduras</option>
                <option value="México">México</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Panamá">Panamá</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Peru">Perú</option>
                <option value="República Dominican">República Dominican</option>
                <option value="Uruguay">Uruguay</option>
                <option value="Venezuela">Venezuela</option>
              </select>
            </div>

            <div class="col-sm-6 form-group">
              <label for="ac-city">Region</label>
              <select
                id="ac-city"
                class="custom-select custom-select-lg"
                (change)="changeRegion($event)"
                formControlName="region"
              >
                <option value="null" disabled selected>Choose region</option>
                <option *ngFor="let item of regiones" [value]="item.id">
                  {{ item.name }}
                </option>
                <!--  <option value="Huila">Huila</option>
                <option value="Tolima">Tolima</option>
                <option value="Antioquia">Antioquia</option>
                <option value="Cundinamarca">Cundinamarca</option>
                <option value="Santander">Santander</option>
                <option value="Meta">Meta</option> -->
              </select>
            </div>

            <div class="col-sm-6 form-group">
              <label for="ac-city">Provincia</label>
              <select
                id="ac-city"
                class="custom-select custom-select-lg"
                (change)="changeProvincia($event)"
                formControlName="provincia"
              >
                <option value="null" disabled selected>Choose provincia</option>
                <option *ngFor="let item of provincias" [value]="item.id">
                  {{ item.name }}
                </option>
                <!--  <option value="Huila">Neiva</option>
                <option value="Tolima">Ibague</option>
                <option value="Antioquia">Medellin</option>
                <option value="Cundinamarca">Bogota</option>
                <option value="Santander">Bucaramanga</option>
                <option value="Meta">Villavicencia</option> -->
              </select>
            </div>

            <div class="col-sm-6 form-group">
              <label for="ac-city">Distrito</label>
              <select
                id="ac-city"
                class="custom-select custom-select-lg"
                (change)="changeDistrito($event)"
                formControlName="distrito"
              >
                <option value="null" disabled selected>Choose distrito</option>
                <option *ngFor="let item of distritos" [value]="item.id">
                  {{ item.name }}
                </option>
                <!-- <option value="Huila">Neiva</option>
                <option value="Tolima">Ibague</option>
                <option value="Antioquia">Medellin</option>
                <option value="Cundinamarca">Bogota</option>
                <option value="Santander">Bucaramanga</option>
                <option value="Meta">Villavicencia</option> -->
              </select>
            </div>

            <div class="col-sm-12 form-group">
              <div class="custom-control custom-checkbox">
                <input
                  class="custom-control-input"
                  type="checkbox"
                  id="ex-check-1"
                  name="principal"
                  formControlName="principal"
                />
                <label class="custom-control-label" for="ex-check-1"
                  >Activar cuenta principal</label
                >
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg">
            &nbsp;Crear direccion&nbsp;
          </button>
        </form>

        <div
          class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-sm-3"
        >
          <h1 class="h2 mb-0">Mis direcciones</h1>
        </div>

        <ng-container *ngIf="load_data">
          <div class="card-body">
            <div class="row">
              <div class="col-12 text-center">
                <!-- Custom size border spinner -->
                <div
                  class="spinner-border"
                  style="width: 3rem; height: 3rem"
                  role="status"
                >
                  <span class="visually-hidden"></span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="row" *ngIf="!load_data">
          <div class="col-12" *ngIf="direcciones.length >= 1">
            <ng-container *ngFor="let item of direcciones">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3 col-sm-4 mb-sm-0 mb-3">
                      <h3 class="mb-2 font-size-lg">{{ item.destinatario }}</h3>
                      <span class="d-block mb-2 font-size-sm text-muted">{{
                        item.zip
                      }}</span>
                      <!-- Primary link badge -->
                      <a class="badge badge-primary" *ngIf="item.principal"
                        >Direccion de envio</a
                      >

                      <a
                        class="badge badge-success"
                        style="cursor: pointer"
                        *ngIf="!item.principal"
                        (click)="updateDireccionPrincipal(item._id)"
                        >Establecer principal</a
                      >
                    </div>
                    <div class="col">
                      <p class="mb-3">
                        {{ item.direccion }}
                      </p>
                      <p class="mb-3">
                        {{ item.pais }} -
                        <span *ngIf="item.region">{{ item.region }}</span> -
                        <span *ngIf="item.provincia">{{ item.provincia }}</span>
                        -
                        <span *ngIf="item.distrito">{{ item.distrito }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <div class="col-12" *ngIf="direcciones.length <= 0">
            <h3 class="h6 mb-2 text-uppercase">
              No se encontraron direcciones
            </h3>
            <h6 class="h1 pb-lg-3" style="font-size: 2rem">
              Debe registar su direccion de envio por favor.
            </h6>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
