<main class="cs-page-wrapper">
  <!-- Breadcrumb -->
  <nav class="bg-secondary mb-3" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb breadcrumb-alt mb-0">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']"><i class="cxi-home"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">My profile</li>
      </ol>
    </div>
  </nav>

  <!-- Page container -->
  <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
    <div class="row pb-2 pb-lg-0">
      <!-- Account menu (sticky sidebar) -->
      <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
        <app-sidebar></app-sidebar>
      </aside>

      <!-- Content -->
      <div class="col-lg-8 ml-auto">
        <div
          class="
            d-flex
            align-items-center
            justify-content-between
            mb-4
            pb-1 pb-sm-3
          "
        >
          <h1 class="h2 mb-0">My profile</h1>
        </div>
        <form [formGroup]="updateForm" (ngSubmit)="update()">
          <div class="row pb-3" *ngIf="client">
            <div class="col-sm-6 form-group">
              <label for="ac-fn">First Name</label>
              <input
                type="text"
                id="ac-fn"
                class="form-control form-control-lg"
                name="name"
                formControlName="name"
              />
            </div>
            <div class="col-sm-6 form-group">
              <label for="ac-ln">Last Name</label>
              <input
                type="text"
                id="ac-ln"
                class="form-control form-control-lg"
                name="lastname"
                formControlName="lastname"
              />
            </div>
            <div class="col-sm-6 form-group">
              <label for="ac-email">Email</label>
              <input
                type="email"
                id="ac-email"
                class="form-control form-control-lg"
                name="email"
                formControlName="email"
              />
            </div>
            <div class="col-sm-6 form-group">
              <label for="ac-email">Phone</label>
              <input
                type="number"
                id="ac-email"
                class="form-control form-control-lg"
                name="phone"
                formControlName="phone"
              />
            </div>
            <div class="col-sm-6 form-group">
              <label for="ac-email">Fecha de nacimiento</label>
              <input
                type="date"
                id="ac-email"
                class="form-control form-control-lg"
                name="birthday"
                formControlName="birthday"
              />
            </div>
            <div class="col-sm-6 form-group">
              <label for="ac-email">DNI</label>
              <input
                type="number"
                id="ac-email"
                class="form-control form-control-lg"
                name="dni"
                formControlName="dni"
              />
            </div>
            <div class="col-sm-6 form-group">
              <label for="ac-country">Genero</label>
              <select
                id="ac-country"
                class="custom-select custom-select-lg"
                (change)="changeGenre($event)"
                formControlName="genre"
                required
              >
                <option value="null" disabled selected>Choose genero</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
              </select>
            </div>
            <div class="col-sm-6 form-group">
              <label for="ac-city">Pais</label>
              <select
                id="ac-city"
                class="custom-select custom-select-lg"
                (change)="changeCountry($event)"
                formControlName="country"
                required
              >
                <option value="null" disabled selected>Choose city</option>
                <option value="Argentina">Argentina</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Chile">Chile</option>
                <option value="Colombia">Colombia</option>
                <option value="Peru">Peru</option>
                <option value="Estados_Unidos">Estados Unidos</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg">
            &nbsp;Save changes&nbsp;
          </button>
        </form>
      </div>
    </div>
  </section>
</main>
